<%-include("partials/header.ejs")%>
	<div class="ui huge header">Edit <%=blog.title%></div>
	<form method="POST" class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" enctype="multipart/form-data">
		<div class="field">
			<label>Title</label>
			<input type="text" name="blog[title]" value="<%=blog.title%>">
		</div>
		<div class="field">
			<label>Image</label>
			<input type="file" name="file">
		</div>
		<div class="field">
			<label>Blog Content</label>
			<textarea name="blog[body]" required><%=blog.body%></textarea>
		</div>
		<button class="ui violet basic button" type="submit">Submit</button>
	</form>
</div>
<%-include("partials/footer.ejs")%>