<%-include("partials/header.ejs")%>
	<div class="ui huge header"><%=blog.title%></div>
	<div class="ui top attached">
		<div class="item">
			<% var file = blog.image %>
			<% if(file.match(".jpg") || file.match(".jpeg") || file.match(".gif") || file.match(".png")){ %>
				<img class="ui centered rounded image" src="/uploads/<%=blog.image%>">
			<% } %>
			<% if(file.match(".mp4") || file.match(".mov") || file.match(".flv") || file.match(".avi") || file.match(".mwv")){ %>
				<video class="ui centered rounded image" controls>
					<source src="/uploads/<%=blog.image%>">
				</video>
			<% } %>
			<div class="content">
				<span><strong>Date Created:</strong> <%=blog.created.toDateString()%></span><br>
				<span><strong>Submitted By:</strong> <%=blog.author.username%></span>
			</div>
			<hr>
			<% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
				<div class="ui buttons">
					<a class="ui blue button" href="/blogs/<%=blog._id%>/edit">EDIT</a>
					<div class="or"></div>
					<form method="POST" action="/blogs/<%=blog._id%>?_method=DELETE">
						<button class="ui red button" type="submit">DELETE</button>
					</form>
				</div>
			<% } %>
			<div class="description">
				<p><%-blog.body%></p>
			</div>
			<div class="ui comments">
				<h3 class="ui dividing header">Comments</h3>
				<% if(blog.comments.length === 0){ %>
					<div class="comment">
						<div class="content">
							<div class="text">
								No Comments Available
							</div>
						</div>
					</div>
				<% }else{ %>
					<% blog.comments.forEach(function(comment){ %>
						<div class="comment">
							<a class="avatar">
								<img src="/uploads/<%=comment.author.image%>">
							</a>
							<div class="content">
							  <a class="author" href="/profile/view/<%= comment.author.id %>"><%= comment.author.username %></a>
							  <div class="metadata">
								<span class="date"><%= comment.created.toDateString() %> <%= comment.created.toLocaleTimeString() %></span>
							  </div>
							  <div class="text">
								<%= comment.text %>
								<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
								<div class="mini ui right floated buttons">
									<a class="ui blue basic button" href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit">Edit</a>
									<form method="POST" action="/blogs/<%= blog._id %>/comments/<%= comment._id %>/delete?_method=DELETE">
										<button class="ui red basic button" type="submit">DELETE</button>
									</form>
								</div>
								<% } %>
							  </div>
							</div>
						  </div>
					<% }) %>
				<% } %>
				<form class="ui reply form" method="POST" action="/blogs/<%= blog._id %>/comments/new">
				  <div class="field" >
					<textarea name="comment[text]"></textarea>
				  </div>
				  <button id="addComment" class="ui blue labeled submit icon button">
					<i class="icon edit"></i> Add Comment
				  </button>
				</form>
			  </div>

			</div>
		</div>
	</div>
</div>
<%-include("partials/footer.ejs")%>