<%-include("partials/header.ejs")%>
<div class="ui main text container segment">
	<div class="ui huge header">Edit <%=blog.title%></div>
	<form method="POST" class="ui form" action="/blogs/<%=blog._id%>?_method=PUT">
		<div class="fields">
			<label for="title">Title</label>
			<input id="title" type="text" name="blog[title]" value="<%=blog.title%>">
		</div>
		<div class="fields">
			<label for="image">Image</label>
			<input id="image" type="text" name="blog[image]" value="<%=blog.image%>">
		</div>
		<div class="fields">
			<label for="content">Blog Content</label>
			<textarea id="content" name="blog[body]" required><%=blog.body%></textarea>
		</div>
		<input class="ui violet basic button" type="submit">
	</form>
</div>
<%-include("partials/header.ejs")%>