<%-include("partials/header.ejs")%>
<span class="ui main text container">
	<div class="ui huge header"><h1>INDEX PAGE</h1></div>
	<span class="ui top attached">
		<span class="ui divided items">
			<% blogs.forEach(function(blog){ %>
				<span class="item">
					<div class="image"><img src="<%=blog.image%>"></div>
					<div class="content"><a class="header" href="/blogs/<%=blog._id%>"><%=blog.title%></a>
						<div class="meta">
							<span><%=blog.created.toDateString()%></span>
						</div>
						<div class="description">
							<p><%-blog.body.substring(0,200)%>...</p>
						</div>
						<div class="extras">
							<a class="ui floated basic violet button" href="/blogs/<%=blog._id%>">Read More<i class="right chevron icon"></i></a>
						</div>
					</div>
				</span>	
			<%}); %>
		</span>
	</span>
</span>


<%-include("partials/footer.ejs")%>